---
import { getCollection } from "astro:content";
import { getTranslations } from "@/i18n";

import BlogCard from "./BlogCard.astro";

interface Props {
  lang: string;
}

const { lang } = Astro.props as Props;
const t = getTranslations(lang);
const { blog } = t;

const allPosts = await getCollection("blog");
const posts = allPosts
  .filter((post) => post.data.lang === lang)
  .sort((a, b) => {
    return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
  });
---

<section class="w-full mt-12 md:mt-20 px-6 md:px-12">
  <div class="flex flex-col space-y-1">
    <span class="text-primary text-lg">✦ {blog.title}</span>
    <span class="text-4xl font-semibold">{blog.subtitle}</span>
    <span class="text-foreground/50">{blog.description}</span>
  </div>
  <div class="mt-4 md:mt-8">
    {posts.map((entry) => <BlogCard entry={entry} lang={lang} />)}
  </div>
</section>
